{% extends 'admin/index.html.twig' %}


{% block title %}Edit User
{% endblock %}

{% block content %}
	<h2 class="title p-3 text-center">Editer un utilisateur</h2>


	{{ include('admin/user/_form.html.twig', {'button_label': 'Valider'}) }}


	<div class="p-4">

		<a href="{{ path('user_index_admin') }}" class="boutton">Revenir à la liste</a>
	</div>


{% endblock %}
