{% extends 'base.html.twig' %}

{% block title %}Ingredient index
{% endblock %}

{% block section %}
	{% include 'profile-base.html.twig' %}

	<div class="container section">
		<h1 class="p-3 text-center font-weight-bold title">Liste des ingrédients</h1>
		<div class="ml-4 p-5">
			<a href="{{ path('ingredient_new') }}" class="boutton">Créer un nouvel ingrédient</a>


		</div>

		<div class="list-ingredient mx-auto p-5 w-75">
			<table class="table">
				<thead>
					<tr>

						<th>Name</th>
						<th>actions</th>
					</tr>
				</thead>
				<tbody>
					{% for ingredient in ingredients %}
						<tr>

							<td>{{ ingredient.name }}</td>
							<td>

								<a href="{{ path('ingredient_edit', {'id': ingredient.id}) }}" class="boutton">Editer</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="3">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>


		</div>


	</div>

{% endblock %}
