{% extends 'base.html.twig' %}

{% block title %}Nouvel ingrédient
{% endblock %}


{% block section %}
	{% include 'profile-base.html.twig' %}


	<div class="section container">

		<h1 class="p-3 text-center font-weight-bold title">Créer un nouvel Ingrédient</h1>
		<div class="w-75 mx-auto form-ingredient">
			{{ include('ingredient/_form.html.twig') }}


		</div>


		<div class="link-list p-4">
			<a href="{{ path('ingredient_index') }}" class="boutton">Revenir à la liste</a>


		</div>


	</div>

{% endblock %}
