{% extends 'base.html.twig' %}

{% block title %}Reset your password
{% endblock %}

{% block section %}
	<div class="container section">
		<h2 class="text-center title p-3">Réinitialiser votre mot de passe</h2>

		{{ form_start(resetForm) }}
		{{ form_row(resetForm.plainPassword) }}
		<button class="btn btn-primary">Réinitialiser</button>
		{{ form_end(resetForm) }}
	</div>

{% endblock %}
