{% extends 'admin/index.html.twig' %}

{% block title %}Editer Ingredient
{% endblock %}

{% block content %}
	<h1>Editer un ingrédient</h1>

	{{ include('admin/ingredient/_form.html.twig', {'button_label': 'Valider'}) }}


{% endblock %}
