{% extends 'base.html.twig' %}

{% block title %}Edit Quantity{% endblock %}

{% block body %}
    <h1>Edit Quantity</h1>

    {{ include('quantity/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('quantity_index') }}">back to list</a>

    {{ include('quantity/_delete_form.html.twig') }}
{% endblock %}
