@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');
body{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;

}
a{
    text-decoration: none;
}
.top{
    background-color: #F3F3F3 !important;
    font-weight: bold;
    font-size: 18px;
    
}
header a
{
    color: #000000;
}
header a:hover
{
    color: #F8961E;
}
header h5{
    color: #666666;
}
.search, .search:focus
{
    background-color: #F8961E;
    color: #ffffff;
    border-radius: 10px;
    
    border: none !important;
}

.section
{
    background-color: #ffffff;
}
.searchInput, .searchInput:focus{
    border: none;
    outline:none;
}
.inputID {
    font-family: FontAwesome !important;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    border: none;
    background:none;
}
.inputID:focus
{
    text-decoration: inherit;
    border: none;
    background:none;
    outline:none;
    outline-width: 0;

}
.card
{
    
    border-radius: 10px;
}
.details
{
    border-radius:25px;
    
  
}
.image_recipe
{
    border-radius: 25%;
}
.add_button
{
    width: 30px;
    height: 30px;
    cursor: pointer;
    
}
.recipe_id
{
    visibility: hidden;
}
.title-recipe
{
    text-decoration: none;
    color: #000000;
    font-weight:bold;
    opacity: 0.7;
}
.title-recipe:hover
{
    color:#F8961E;
    text-decoration:none;
}
.img-recipe
{
    border-radius: 25px;
}
.card{
    box-shadow: 5px 5px 15px #b3b3b3;
    border: none;
}
.ingredient{
    box-shadow: 5px 5px 15px #b3b3b3;
    border: none;
    border-radius: 25px;
}
.steps
{
    color:#F8961E;
    text-align: center;

}
.header-menu
{
    background: url('../images/ingredient-menu.jpeg') no-repeat;
    background-size: cover;
    height:200px;
    width: 100%
}
.nav-profil , .nav-profil a
{
    
     color:#F8961E;
     font-weight: bold;
     text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav-profil a:hover
{
    color:#181818;

}
.title
{
    opacity: 0.7;
}
.form-ingredient
{
    height: 300px;
}
.link-list
{
    text-decoration: none;

}
.list-ingredient, .insert-form
{
    border: solid 1px #F8961E;
    border-radius: 25px;
}
.name a
{
    color: #F8961E;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}