{% extends "base.html.twig" %}
{% block title %}Editer mon profil
{% endblock %}
{% block section %}
	{% include 'profile-base.html.twig' %}

	<div class="container section py-5">
		{% for message in app.flashes('error') %}
			<div class="alert alert-danger mb-3" role="alert">{{ message }}</div>
		{% endfor %}


		<div class="insert-form p-4 mx-auto w-75">
			<div class="mb-3 text-center">
				<h1 class="title">Modifer votre mot de passe
				</h1>
			</div>
			<form method="POST">
				<div class="form-group">
					<label for="password">Mot de passe</label>
					<input type="password" class="form-control" name="password" id="password2">

				</div>
				<div class="form-group">
					<label for="password2">Confirmer le Mot de passe</label>
					<input type="password" class="form-control" name="password2" id="password2">

				</div>
				<button class="btn btn-primary">Valider</button>


			</form>
		</div>

	</div>

{% endblock %}
