{% extends "base.html.twig" %}
{% block title %}Acceuil
{% endblock %}
{% block section %}
	{% include 'profile-base.html.twig' %}

	<div class="container section">


		{% for message in app.flashes('success') %}
			<div class="alert alert-success mb-3" role="alert">{{ message }}</div>
		{% endfor %}


	</div>


{% endblock %}
