{% extends "base.html.twig" %}
{% block title %}Acceuil
{% endblock %}
{% block section %}
	{% include 'profile-base.html.twig' %}

	<div class="container section pt-3">


		<div class="row">
			{% for recipe in app.user.recipes %}
				<div class="col-4 mt-3">
					<div class="card mb-4">
						<div class="card-body">
							<h5 class="card-title text-center mb-2">

								<a href="{{ path('recipe_show', {id: recipe.id}) }}" class="title-recipe">{{ recipe.title }}</a>
							</h5>
							<div class="card-image my-3">
								<img src="{{ vich_uploader_asset(recipe, 'imageFile') | imagine_filter('thumb') }}" class="card-img-top img-recipe"/>
							</div>
							<div class="text-center">


								{% set sum = 0 %}
								{% set avg =0 %}
								{% if recipe.rating | length != 0 %}

									{% for vote in recipe.rating  %}
										{% set sum = sum + vote.note %}
									{% endfor %}
									{% set avg = sum / recipe.rating | length %}
								{% endif %}
								{{ avg| rating }}


							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}
